@page
@model TrackAssessments.Pages.AcquiredItems.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Acquired Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcquiredItem.ItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcquiredItem.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcquiredItem.Acquired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcquiredItem.Acquired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcquiredItem.ItemType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcquiredItem.ItemType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcquiredItem.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcquiredItem.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcquiredItem.Barcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcquiredItem.Barcode)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AcquiredItem.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-route-id="@ViewBag.AssessmentID" asp-page="../Assessments/Details">Back to List</a>
    </form>
</div>
